AFIS360WebApp/Service References/UserAccessControlServiceRef/UserAccessControl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/AFIS360Webservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/AFIS360Webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/AFIS360Webservice">
      <s:element name="getAccessControl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAccessControlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAccessControlResult" type="tns:AccessControl" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccessControl">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessLogin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessEnrollment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessFingerprintMatching" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessUserMgmt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessAudit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessFind" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessDataImport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessDataExport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessMultiMatch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessClientSetup" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAccessControlSoapIn">
    <wsdl:part name="parameters" element="tns:getAccessControl" />
  </wsdl:message>
  <wsdl:message name="getAccessControlSoapOut">
    <wsdl:part name="parameters" element="tns:getAccessControlResponse" />
  </wsdl:message>
  <wsdl:portType name="UserAccessControlSoap">
    <wsdl:operation name="getAccessControl">
      <wsdl:input message="tns:getAccessControlSoapIn" />
      <wsdl:output message="tns:getAccessControlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserAccessControlSoap" type="tns:UserAccessControlSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAccessControl">
      <soap:operation soapAction="http://localhost/AFIS360Webservice/getAccessControl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserAccessControlSoap12" type="tns:UserAccessControlSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAccessControl">
      <soap12:operation soapAction="http://localhost/AFIS360Webservice/getAccessControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserAccessControl">
    <wsdl:port name="UserAccessControlSoap" binding="tns:UserAccessControlSoap">
      <soap:address location="http://localhost:60531/UserAccessControl.asmx" />
    </wsdl:port>
    <wsdl:port name="UserAccessControlSoap12" binding="tns:UserAccessControlSoap12">
      <soap12:address location="http://localhost:60531/UserAccessControl.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>