AFIS360WebApp/Service References/GetPersonServiceRef/GetPerson.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/AFIS360Webservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/AFIS360Webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/AFIS360Webservice">
      <s:element name="getPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="personId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPersonResult" type="tns:PersonDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PersonDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PersonId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfBirth" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DateOfBirthText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Profession" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FatherName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CellNbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkPhoneNbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomePhoneNbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassportPhoto" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getPersonSoapIn">
    <wsdl:part name="parameters" element="tns:getPerson" />
  </wsdl:message>
  <wsdl:message name="getPersonSoapOut">
    <wsdl:part name="parameters" element="tns:getPersonResponse" />
  </wsdl:message>
  <wsdl:portType name="GetPersonSoap">
    <wsdl:operation name="getPerson">
      <wsdl:input message="tns:getPersonSoapIn" />
      <wsdl:output message="tns:getPersonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetPersonSoap" type="tns:GetPersonSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPerson">
      <soap:operation soapAction="http://localhost/AFIS360Webservice/getPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetPersonSoap12" type="tns:GetPersonSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPerson">
      <soap12:operation soapAction="http://localhost/AFIS360Webservice/getPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetPerson">
    <wsdl:port name="GetPersonSoap" binding="tns:GetPersonSoap">
      <soap:address location="http://localhost:60531/GetPerson.asmx" />
    </wsdl:port>
    <wsdl:port name="GetPersonSoap12" binding="tns:GetPersonSoap12">
      <soap12:address location="http://localhost:60531/GetPerson.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>