AFIS360WebApp/Service References/PersonPhysicalCharServiceRef/PersonPhysicalCharService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/AFIS360Webservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/AFIS360Webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/AFIS360Webservice">
      <s:element name="GetPersonPhysicalChar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="personId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonPhysicalCharResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPersonPhysicalCharResult" type="tns:PersonPhysicalChar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PersonPhysicalChar">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PersonId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="EyeColor" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HairColor" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Complexion" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BuildType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BirthMark" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdMark" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DOD" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DataObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreationDateTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateDateTime" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPersonPhysicalCharSoapIn">
    <wsdl:part name="parameters" element="tns:GetPersonPhysicalChar" />
  </wsdl:message>
  <wsdl:message name="GetPersonPhysicalCharSoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonPhysicalCharResponse" />
  </wsdl:message>
  <wsdl:portType name="PersonPhysicalCharServiceSoap">
    <wsdl:operation name="GetPersonPhysicalChar">
      <wsdl:input message="tns:GetPersonPhysicalCharSoapIn" />
      <wsdl:output message="tns:GetPersonPhysicalCharSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonPhysicalCharServiceSoap" type="tns:PersonPhysicalCharServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonPhysicalChar">
      <soap:operation soapAction="http://localhost/AFIS360Webservice/GetPersonPhysicalChar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PersonPhysicalCharServiceSoap12" type="tns:PersonPhysicalCharServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonPhysicalChar">
      <soap12:operation soapAction="http://localhost/AFIS360Webservice/GetPersonPhysicalChar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonPhysicalCharService">
    <wsdl:port name="PersonPhysicalCharServiceSoap" binding="tns:PersonPhysicalCharServiceSoap">
      <soap:address location="http://localhost:60531/PersonPhysicalCharService.asmx" />
    </wsdl:port>
    <wsdl:port name="PersonPhysicalCharServiceSoap12" binding="tns:PersonPhysicalCharServiceSoap12">
      <soap12:address location="http://localhost:60531/PersonPhysicalCharService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>